body {
  /* background: url(../images/color-fan-497004_1920.jpg); */
  background: url(../images/space.jpg);
  height: 100vh;
  /* font-weight: bold; */
}

* {
  font-weight: bold;
}

#main-container {
  background-color: white;
  max-width: 700px;
}

#reviews {
  /* margin-bottom: 10px; */
  height: 50px;
}

#reviews div {
  padding: 0 0 0 0;
}

#reviews div img {
  padding: 0 2px;
}

#reviews p {
  padding: 0;
  margin: 0;
}

#prices {
  height: 50px;
}

#current-price {
  font-size: 18px;
}

#color-circles div div {
  width: 25px;
  height: 25px;
  border-radius: 25px;
  margin-bottom: 5px;
}

#color-circles div img {
  width: 35px;
  padding: 5px;
  
}

#color-circles div img:active {
  border: 2px solid black;
  border-radius: 25px;
}

/* #color-circles div {
  display: grid;
  justify-self: center;
  align-self: center;
  padding: 10px;
  border: 1px solid black;
} */

#maroon {
  background-color: #c62930;
  border: 1px solid black;
  /* padding: 20px; */
  /* margin: 20px; */
}

#violet {
  background-color: #6327f4;
}

#black {
  background-color: #000000;
}

#white {
  background-color: #ffffff;
}

#orange {
  background-color: #ee802f;
}

#yellow {
  background-color: #fef450;
}

#denim-blue {
  background-color: #1d53ae;
}

#bahama-blue {
  background-color: #285a7b;
}

#pancho {
  background-color: #dab595;
}

#malibu {
  background-color: #54c0f9;
}

#green-yellow {
  background-color: #90fa4d;
}

#persian-rose {
  background-color: #EA37B3;
}

#fawn {
  background-color: #e5aa70;
}

#eucalyptus {
  background-color: #418D65;
}

#scarpa-flow {
  background-color: #6f6975;
}

#horses-neck {
  background-color: #6e5026;
}

#downy {
  background-color: #69dad1;
}

#silver {
  background-color: #c4c4c4;
}